@model myapp.Models.Formulario


<div >
   <strong><h1 class="display-4">COMPLETE WEB FORM:</h1></strong> 
    <form asp-controller="Formulario" asp-action="Create">
       
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <strong> <label asp-for="firstName" class="control-label"></label></strong><br>
        <input asp-for="firstName" class="col-sm-8 col-sm-offset-2" /> <br>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <strong><label asp-for="lastName" class="control-label"></label></strong><br>
        <input asp-for="lastName" class="col-sm-8 col-sm-offset-2" /> <br>
      
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <strong> <label asp-for="jobTitle" class="control-label"></label> </strong><br>
        <input asp-for="jobTitle" class="col-sm-8 col-sm-offset-2" /> <br>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <strong><label asp-for="level" class="control-label"></label> </strong>
            <br> 
           <input type="radio" asp-for="level" value="High School" >
           <label >High School</label><br> 
           <input type="radio" asp-for="level" value="College">
           <label >College    </label><br> 
           <input type="radio" asp-for="level" value="Grad School" >
           <label >Grad School</label> <br> 
        
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <strong><label asp-for="sex" class="control-label"></label> </strong>   
            <div class="form-check" >
                <input class="form-check-input"asp-for="sex" type="checkbox" value="Male">
                <label> Male</label>
            </div> 
            <div class="form-check" >
                <input class="form-check-input"  asp-for="sex" type="checkbox" value="Female">
                <label> Female</label>
            </div> 
            <div class="form-check" >
                <input class="form-check-input" asp-for="sex" type="checkbox" value=" Prefer not to say">
                <label> Prefer not to say</label>
            </div> 

         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <strong> <label asp-for="years" class="control-label"></label></strong> <br>   
            <select asp-for="years" class="col-sm-8 col-sm-offset-2" > 
                <option value="NO OPTION">SELECT AN OPTION...</option>
                <option value="0-1">0-1</option>
                <option value="2-4">2-4</option>
                <option value="5-9">5-9</option>
                <option value="10+">10 +</option>
            </select>
          <br>
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <strong>  <label asp-for="date" class="control-label"></label></strong> <br>    
      <input  asp-for="date" type="date"  asp-format="{0:yyyy-MM-dd}"> <br>

       <br> <button type="submit" class="btn btn-primary">SUBMIT</button> <br>
    </form>


    <br><br>
   
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}